body {
    margin: 0 0 30px 0;
}

.margin {
    background-color: rgb(192, 56, 7);
    height: 1.5px;
}

.navbar {
    background-color: rgba(20, 17, 17, 0.822);
    text-align: center;
    padding: 7px;
    height: 30px;

}

#heading1 {
    font-size: 20px;
    float: left;
    color: white;
    margin-top: 3px;
    padding-left: 4px;
}

#align {
    float: right;
    text-decoration: none;
    padding-right: 20px;
    color: white;
    margin-top: 3px;
}

.img1 {
    width: 900px;
    padding-top: 40px;
    margin-left: -90px;
}

.right {
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    width: 501px;
    height: 250px;
    right: 40px;
    top: 95px;
}

#pgp1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: -5px;

}

#pgp2 {
    font-size: 18px;
    text-align: justify;
    padding-right: 12px;
}

.btn {
    padding: 8px 8px;
    background-color: rgb(36, 36, 232);
    color: white;
    border-style: none;
    border-radius: 3px;
}
.box{
   background-color: #555;
   padding: 20px 0px;
   margin-left: 35px;
   margin-right: 35px;
   margin-top: 40px;



}
#pgp3{
    color: white;
    text-align: center;

}
.relative{
    position: relative;
    border: 1px solid white;
    width: 1448px;
    height: 300px;
    margin-left: 35px;
    margin-top: 40px;
    margin-bottom: -20px;    
   

}
.absolute1{
    position: absolute;
    border: 1px solid rgb(248, 243, 243);
    width: 430px;
    height: 226px;
    margin-bottom: 100px;
    top:10px;
    

}
#p1{
    font-size: 35px;
    font-weight: bold;

}
.border1{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(250, 243, 243);
    padding: 6px 0;


}
.btn11{
    padding: 8px 8px;
    background-color: rgb(36, 36, 232);
    color: white;
    border-style: none;
    border-radius: 3px;
    margin-left: 3px;

}
.absolute2{
    position: absolute;
    border: 1px solid rgb(248, 243, 243);
    width: 430px;
    height: 226px;
    margin-bottom: 100px;
    top: 0px;
    left: 500px;
}
.absolute3{
    position: absolute;
    border: 1px solid rgb(248, 243, 243);
    width: 431px;
    height: 226px;
    margin-bottom: 100px;
    top: 0px;
    left: 500px;
}
